/*elementos*/

/*Modificando elementos predefinidos* !important*/
.content-wrapper, .right-side {
    background-color: #E9EBEE;
}

.nav-stacked > li > a {
    color: #00000080;
}

.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {

    font-weight: bold;
}




textarea{
    height: 150px !important;
}



.col-form{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(215, 208, 208);
    padding-bottom: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

form .btn
{
    min-width:50%;
}


/* ************* Agregados*****************************/
.centered {
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.borde{
    border: 2px solid #000;
}

.borde-left{
    border-left: 1px solid rgba(180, 176, 176, 0.58) !important;
}

.borde-bottom{
    border-bottom: 1px solid rgba(180, 176, 176, 0.58) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}


.separador_in_tabs{
    padding-bottom: 10px;
    position: relative;
}
.separador_in_tabs a{
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
}

.separador_in_tabs span{
    color: #90949c;
    font-weight: bold;

}

.separador_in_tabs .titulo{
    line-height: 2em;
    border-bottom: 1px solid #dddfe2;
}

.lista-datos{
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgba(5, 0, 3, 0.73) !important;
    font-size: 1.1em;
}

.lista-datos>li>span{
    text-decoration: none;
    color: #07080766 !important;
    font-weight: normal !important;
}

.lista-datos li{
    margin-top: 7px;
    border-bottom: 1px solid rgba(31, 48, 31, 0.23);
}

.bg-white{
    background: #fff !important;
}

.resaltar{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(215, 208, 208);
    padding-bottom: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dimissable{
    position: relative;
    margin-top: 7px;
}

.dimissable .borrar{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}
.dimissable .borrar:hover{
    color: #fff;
    padding: 5px;
    background-color: rgba(230, 0, 42, 0.76);
    border-radius: 5px;

}

.manita{
    cursor: pointer;
}


.mensaje_flot{
    font-weight: normal;
    position: fixed;
    z-index: 10000;
    right: 30px;
    top: 30px;
}

.mensaje_flot>.formaa{
    border: none;
    border-radius: 60px 0px 60px 60px;
    color: #fff;
}

.forma-success {
    background-color: #008d4c !important;
    color: #fff;
}
.forma-danger,
.forma-error {
    background-color: #d73925 !important;
    color: #fff;
}
.forma-warning {
    background-color: #e08e0b !important;
    color: #fff;
}
.forma-info {
    background-color: #00acd6 !important;
    color: #fff;
}

#list_mensaje{
    list-style: none;
}

.tab-pane> h3{
    width: 100%;
    width: 100%;
    background: #78787833;
    color: #575454;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
}

.editar-switch>h3>span{
    font-size: 20px;
}

.box_permisos{
    max-height: 340px;
    overflow-y: scroll;
    margin-bottom: 5px;
    margin-top: 5px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}